* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

body {
 background-color: #91f2f2; 
}

/* STYLE TEXT */

h1 {
   padding-top: 2em;
   padding-bottom: 1em;
  color: #055757;
   font-family: "Gill Sans", sans-serif;
   text-align: center;
   font-size: 70px;
}

.paragraphClass{
   font-size: 40px;
   font-family: "Gill Sans", sans-serif;
   text-align: center;
   color: #055757;
   margin-top: 30px;
   margin-left: 15%;
   margin-right: 15%;
}

/* STYLE IMAGES */
.flex-container{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
}

.flex-item{
   flex-basis: 100%;
   margin: 1%;
}

img{
   display: block;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   width: 90%;

   border-style: solid;
   border-color:  #013c3c;
   border-width: 8px;
   border-radius: 5px;
}


@media screen and (max-width: 850px){
   .flex-container {
      flex-wrap: wrap;
   }
}
/* STYLE NAV BAR */
ul{
   list-style-type: none;
   background-color: #055757;
   overflow: hidden;
   padding: 2em;
}

li{
   display: inline;
}

a{
   font-family: "Gill Sans", sans-serif;
   color:#91f2f2;
   font-size: 1.5em;
}
